
/* ~~~~~~~~~~~~~~ BANNER LAYOUT ~~~~~~~~~~~~~~~~ */
#banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#site-navigation {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
  border: solid blue;
}

#menu {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  border: solid red;
}

#h1 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid red;
}

@media screen and (max-width: 70em) {
  #banner-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #site-navigation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-end;
    border: solid blue;
  }

  #menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    border: solid red;
  }

  #h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    border: solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ~~~~~~~~~~~~~~ STYLING ~~~~~~~~~~~~~~~~ */
.banner-bottom {
  margin-bottom: 5px;
}

.banner-top {
  margin-top: 5px;
}

.icon {
  width: 20px;
  height: 20px;
  border: solid mediumorchid;
}

/* ~~~~~~~~~~~~~~ SITE NAVIGATION ~~~~~~~~~~~~~~~~ */
ul {
  list-style-type: none;
}

.navigation-row {
  display: flex;
  width: 100%;
  border: solid blue;
}

.navigation-item {
  border: solid pink;
  margin-right: 10px;
}

.menu-item {
  border: solid mediumorchid;
}

.menu-row {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border: solid blue;
}

/* ~~~~~~~~~~~~~~ TITLE ~~~~~~~~~~~~~~~~ */
h1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 2em;
  border: solid mediumorchid;
}

@media screen and (max-width: 70em) {
  h1 {
    display: flex;
    justify-content: center;
    margin: auto;
    /* margin-right: 0px;
    margin-bottom: 0px; */
  }
}
