#banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#site-navigation {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
  border: solid blue;
}

.row {
  display: flex;
  width: 100%;
  border: solid blue;
}

.row-right {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border: solid blue;
}

.banner-bottom {
  margin-bottom: 5px;
}

.banner-top {
  margin-top: 5px;
}

ul {
  list-style-type: none;
}

.navigation-item {
  border: solid pink;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

#menu {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  border: solid red;
}

.menu-item {
  border: solid mediumorchid;
  margin-right: 5px;
  padding: 10px;
}

.icon {
  width: 20px;
  height: 20px;
  border: solid mediumorchid;
}

#h1 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  border: solid red;
}

h1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  border: solid mediumorchid;
}
