
/* ~~~~~~~~~~~~~~ BANNER LAYOUT ~~~~~~~~~~~~~~~~ */

#banner-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1200px;
  height: 200px;
  margin: auto;
  background-color: #181a1b;
}

#site-navigation {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: flex-end;
}

#menu {
  height: 50px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

#h1 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
}

.banner-bottom {
  margin-bottom: 20px;
}

.banner-top {
  margin-top: 5px;
}

/* ~~~~~~~~~~~~~~ BANNER LAYOUT BREAKPOINTS ~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 78em) {
  #banner-container {
    width: 916px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #site-navigation {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: flex-end;
  }

  #menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
  }

  #h1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 60em) {

  #banner-container {
    width: 632px;
  }
}

/* ~~~~~~~~~~~~~~GENERAL STYLING ~~~~~~~~~~~~~~~~ */
body {
  font-size:16px;
}

.icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}

h2 {
  font-family: "Helvetica";
  font-size: 2em;
  font-weight: normal;
}

h3 {
  font-family: "Helvetica";
  font-size: 2em;
  font-weight: normal;
  margin:0;
}

h4 {
  font-family: "Helvetica";
  font-size: 1em;
  font-weight: normal;
  padding-top: 2px;
  padding-bottom: 2px;
  margin:0;
}

h5 {
  font-family: "Helvetica";
  font-size: .8em;
  font-weight: normal;
  margin:0;
  margin-top: 16px;
}

p {
  font-family: "Helvetica";
  font-size: .8em;
  color: gray;
  margin:0;
  margin-bottom: 16px;
}

/* ~~~~~~~~~~~~~~ SITE NAVIGATION ~~~~~~~~~~~~~~~~ */

ul {
  list-style-type: none;
}

.navigation-row {
  display: flex;
  width: 100%;
}

.navigation-item {
  font-family: "Helvetica";
  margin-left: 10px;
  margin-right: 40px;
  color: ghostwhite;
}

/* ~~~~~~~~~~~~~~ MENU ~~~~~~~~~~~~~~~~ */

.menu-item {
  filter: invert(.5);
  margin: auto;
}

.menu-row {
  width: 6em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

/* ~~~~~~~~~~~~~~ TITLE ~~~~~~~~~~~~~~~~ */

h1 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 20px;
  font-size: 3em;
  color: ghostwhite;
}

@media screen and (max-width: 78em) {
  h1 {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-bottom: 0px;
  }
}

/* ~~~~~~~~~~~~~~ CARDS CONTAINER LAYOUT ~~~~~~~~~~~~~~~~ */

#cards-container {
  width: 1200px;
  height: 935px;
  margin: auto;
  background-color: gainsboro;
}

#cards-container-header {
  width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  align-content: center;
  background-color: gainsboro;
}

.card-wrapper {
  width: 1132px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4px;
  margin: auto;
  background-color: gainsboro;
}

/* ~~~~~~~~~~~~~~ CARDS CONTAINER LAYOUT BREAKPOINTS ~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 78em) {

  #cards-container-header {
    width: 916px;
    height: 100px;
  }

  #cards-container {
    width: 916px;
    height: 1365px;
  }

  .card-wrapper {
    width: 848px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 60em) {

  #cards-container-header {
    width: 632px;
    height: 100px;
  }

  #cards-container {
    width: 632px;
    height: 1795px;
  }

  .card-wrapper {
    width: 564px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}

/* ~~~~~~~~~~~~~~CARD HEADER LAYOUT ~~~~~~~~~~~~~~~~ */

.card-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 280px;
  height: 157.5px;
}

.next-icon {
  grid-area: 1 / 1 / 3 / 2;
  margin-left: 16px;
  margin-top: 16px;
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.card-top-text {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  color: ghostwhite;
  margin-right: 16px;
}

.card-top-number {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  color: ghostwhite;
  margin-top: 32px;
  margin-right: 16px;
}

/* ~~~~~~~~~~~~~~MAIN CARDS ~~~~~~~~~~~~~~~~ */

.shares {
  margin-left: 34px;
}

.card {
  width: 280px;
  background: ghostwhite;
  margin: auto;
}

.card-main {
  height: 270px;
  margin-left: 16px;
  margin-right: 16px;
}

.name {
  margin-top: 16px;
}

.link {
  font-family: "Helvetica";
  font-size: .8em;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 16px;
  width: 90%;
  margin: auto;
  background: gainsboro;
}

.card-bottom-number {
  color: deepskyblue;
}

/* ~~~~~~~~~~~~~~CARD IMAGES ~~~~~~~~~~~~~~~~ */

.first-background-img {
  background-image: url("./assets/dimitry-kooijmans-2eRHP71tkRY-unsplash.jpg");
  background-size: cover;
}

.second-background-img {
  background-image: url("./assets/erica-leong-_FoHMYYlatI-unsplash.jpg");
  background-size: cover;
}

.third-background-img {
  background-image: url("./assets/matheus-queiroz-UhxJSJmT1R4-unsplash.jpg");
  background-size: cover;
}

.fourth-background-img {
  background-image: url("./assets/paul-hanaoka-o6RbK3y7mK4-unsplash.jpg");
  background-size: cover;
}

.fifth-background-img {
  background-image: url("./assets/taylor-grote-vVaRqEeb_Ss-unsplash.jpg");
  background-size: cover;
}

.sixth-background-img {
  background-image: url("./assets/sterna-is-7mrWysXUILs-unsplash.jpg");
  background-size: cover;
}

.seventh-background-img {
  background-image: url("./assets/krisztian-matyas-kBhG5j4xHJQ-unsplash.jpg");
  background-size: cover;
}

.eigth-background-img {
  background-image: url("./assets/kazuky-akayashi-Z6h0p9KL0lU-unsplash.jpg");
  background-size: cover;
}
